<% include header.ejs %>


<div class="container-fluid">
    <div class="row">
                <% for(let item of items) {%>
                    <div class="cover">
                        <% if (series) {%>
                            <a href="/folder/<%= folder %>/<%= item.series %>" title="<%= item.series %>"  > <img class="cover" src="<%= item.cover %>" /></a>
                        <% } else { %>
                            <a href="/video/<%= item.media_id %>" title="<%= item.media_name %>"  > <img class="cover" src="<%= item.cover %>" /></a>
                        <% } %>
                    </div>
                <% } %>
    </div>
</div>


<% include footer.ejs %>
